@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

input::placeholder {
  padding-left: 30px;
}
body {
  font-family: "Instrument Sans", "sans-serif";
  box-sizing: border-box;
  background-color: hsla(0, 0%, 98%, 1);
}
